body {
  margin: 0;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  margin: 40px auto;
  max-width: 1200px;
  min-width: 800px;
  padding: 20px;
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 8px;
}

h1 {
  color: #003580;
  text-align: center;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-field input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.button-group {
  display: flex;
  gap: 30px;
}

.button-group button {
  background: #ffcc00;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e6e6fa;
}

thead {
  background-color: #003580;
}

th {
  padding: 10px;
  color: white;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

td button {
  background-color: red;
  padding: 10px;
  color: white;
}
